# Environnements virtuels
.venv/
venv/

# Notebooks
.ipynb_checkpoints/

# Fichiers Python compilés
__pycache__/

# Fichiers spécifiques à ignorer
lbl-tcp-3.tcp
soi.tsv
time_series.pdf

# Ignorer tous les CSV par défaut
*.csv

# Mais garder explicitement ceux-ci
!y_test.csv
!yhat_aligned_aic_bic.csv
!yhat_aligned_rmse.csv
!Openhealth_S-Grippal.csv